body{
background-image: url('Afterlife-Metro/Assets/Sprites/Train Station Bckgrnd.jpg');  
background-size: cover;  
background-position: center center;
text-align: center; 
overflow: hidden;
height: 100vh;
margin: 0;
}

h1{
    color: white;
    padding-top: 200px;
    font-size: 100px;
}

button{
    height: 100px;
    width: 400px;
    font-size: 40px;
    display: block;
    margin: 20px auto;
}
